.background{
    background-image: url("../resource/u143.png");
}

.credit_guarantee_dialog{
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 50px auto 20px;
    padding: 50px;
    background-color: #ffffff;
}

.hint_combination{
    margin: 50px auto 100px;
}

.logo-left-top{
    width: 100px;
    height: auto;
}

.yes{
    float: left;
    width: 40px;
    height: auto;
    display: inline-block;
    border: none;
}

.hint{
    font-weight: bold;
    font-size: 24px;
    padding: 2px 0;
    text-align: center;
}

.button{
    padding: 5px 40px;
    background: rgb(81, 81, 229);
}

.button:hover{
    background: rgb(51, 51, 51);
}