footer{
    padding: 10px 0;
    background-color: #f7f7f7;
}

.foot-tag{
    font-size: small;
    /*padding: 3px 5px;*/
}

.foot-tag > p > a{
    color: #777;
    text-decoration: none;
}

.foot-tag-color{
    color: #777;
}