.main{
    background: url("../resource/u202.png") no-repeat center;
    background-size: cover;
}

.footer{
    height: 150px;
    width: 95%;
    color: #999999;
    border-top: 3px solid #e1e1e1;
    padding: 20px 0;
    background-color: #ffffff;
    margin-top: 20px;
}

.foot-tag > p > a {
    text-decoration: none;
    color: #999999;
    font-size: 16px;
}

.foot-tag > p > a:hover {
    color: #cccccc;
}

.foot-tag-color{
    font-size: 13px;
}

.head-tag{
    color: #000000;
}
.info-head{
    margin: 40px 0 40px 20px;

    color:#209CDD;
}
.info{
    width: 90%;
    margin: 0 auto;
}
.info-box:last-child{
    border-bottom: 0;
}
.info-box{
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 2px solid #e1e1e1;
}
.info-box>div>img{
    width: 8%;
}
.info-box>div{
    font-size: 13px;
}
.info-box>div:first-child{
    font-size: 14px;
    font-weight: bolder;
}

