.main{
    /*height: auto;*/
    background: url("../resource/u202.png") no-repeat center;
    padding-top: 50px;
    padding-bottom: 30px;
}

body{
    background-color: #f7f7f7;
}

.roundedRectangle1{
    box-shadow:0 3px 3px #e9e9e9;
    padding-top: 30px;
    padding-left: 30px;
    margin-left: 27%;
    width: 46%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 10px;
}

.a{
    padding-top: 30px;
    margin-top: 50px;
    width:100%;
    height:500px;
    text-align: center;
}

.img1{
    width:17%;
}

.input1{
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 13px 14px;
    width: 620px;
    font-size: 15px;
    font-weight: 500;
    color:#999999;
}

.input1:focus{
    border: 1px solid  #4067fc;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.b{
    padding-top: 30px;
    margin-top: 50px;
}

.c{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.c img{
    width: 100%;
    height:auto;
}