.info-container{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 100px auto;
    box-shadow: 2px 3px 2px #cccccc;
}

.drop-toggle{
    margin: 100px auto;
}

.description{
    text-indent: 10em;
    width: 30%;
}

.drop-btn{
    width: 50%;
}

.submit-btn{
    margin: 40px auto;
}

.button{
    color: #ffffff;
    padding: 5px 40px;
    background: rgb(81, 81, 229);
}

.button:hover{
    background: rgb(51, 51, 51);
}