.main{
    height: 800px;
}

.register-interface{
    background-image: url("../resource/u55.png");
}

.welcome{
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.register-frame{
    padding: 40px;
}

.register-content{
    border: 1px solid #cccccc;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
}



.one-line{
    padding: 10px 5px;
    margin: 0 auto;
}

.register-input-series{
    border: 1px solid #cccccc;
    padding: 2px;
    width: 100%;
    border-radius: 10px;
    text-indent: 1em;
    height: 3em;
    line-height: 40px;
    background-color: transparent;
    outline: none;
}

