<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>搜索企业结果</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/enterprise.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/general.js"></script>
</head>
<body>
<div id="nav"></div>
<main>
    <span id="back" onclick="window.history.back()">&lt;&lt;返回搜索界面</span>
    <h1 th:text="${enterprise_name}"></h1>
    <h4 th:text="${enterprise.getE_level()}"></h4>
    <section>
        <div class="row">
            <nav id="sidebar" class="col-auto">
                <div class="side-top">
                    <div>导航</div>
                    <span class="d-md-none" data-bs-toggle="collapse" data-bs-target="#item-list"
                          aria-expanded="false" aria-controls="item-list">展开</span>
                </div>
                <div id="item-list" class="collapse">
                    <div class="side-item">
                        <div onclick="routeTo('overall.html')">整体ESG评估结果</div>
                    </div>
                    <div class="side-item">
                        <div>环境研究</div>
                        <span data-bs-toggle="collapse" data-bs-target="#environment" aria-expanded="false"
                              aria-controls="environment">▼</span>
                    </div>
                    <div class="side-dropdown collapse" id="environment">
                        <div th:onclick="routeTo('./env_performance.html')">环境绩效</div>
                        <div th:onclick="routeTo('./env_disclosure.html')">环境披露</div>
                        <div onclick="routeTo('env_investment.html')">环境投资</div>
                    </div>
                    <div class="side-item">
                        <div>社会责任</div>
                        <span data-bs-toggle="collapse" data-bs-target="#society" aria-expanded="false"
                              aria-controls="society">▼</span>
                    </div>
                    <div class="side-dropdown collapse" id="society">
                        <div onclick="routeTo('soc_safety.html')">生产安全</div>
                        <div onclick="routeTo('soc_customer.html')">客户及消费者权益保护</div>
                        <div onclick="routeTo('soc_public.html')">公共关系和社会公益事业</div>
                    </div>
                    <div class="side-item">
                        <div>公司治理</div>
                        <span data-bs-toggle="collapse" data-bs-target="#governance" aria-expanded="false"
                              aria-controls="governance">▼</span>
                    </div>
                    <div class="side-dropdown collapse" id="governance">
                        <div onclick="routeTo('gov_risk.html')">风险水平</div>
                        <div onclick="routeTo('gov_admin.html')">管理层治理</div>
                        <div onclick="routeTo('gov_manage.html')">经营水平</div>
                    </div>
                </div>
            </nav>
            <!--TODO 此div或为vue路由-->
            <div class="col" id="router">
            </div>
        </div>
    </section>
</main>
<div id="footer"></div>
<script>
    window.addEventListener('load', () => {
        let itemList = document.getElementById('item-list');
        if (window.innerWidth > 768) {
            new bootstrap.Collapse(itemList, {
                toggle: true
            });
        }
        $('#router').load('overall.html');
    });
    function routeTo(path) {
        $('#router').load(path);
    }
</script>
</body>
</html>
