<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="download-tab" data-bs-toggle="tab"
                data-bs-target="#download"
                type="button" role="tab">详细数据
        </button>
        <button class="nav-link" id="intro-tab" data-bs-toggle="tab" data-bs-target="#intro"
                type="button" role="tab">数据简介
        </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="download" role="tabpanel">
        <div class="table-responsive">
            <table class="table table-striped caption-top text-center">
                <caption>公司治理_管理层治理能力</caption>
                <thead>
                <tr>
                    <th scope="col">截止日期</th>
                    <th scope="col">行业名称</th>
                    <th scope="col">股东控股比例</th>
                    <th scope="col">投资者持股比例</th>
                    <th scope="col">股权制衡度</th>
                    <th scope="col">是否持有银行股份</th>
                    <th scope="col">董事会规模</th>
                    <th scope="col">独立董事占比</th>
                    <th scope="col">监事会规模</th>
                    <th scope="col">高管人数</th>
                    <th scope="col">员工人数</th>
                    <th scope="col">人均创利</th>
                    <th scope="col">独立董事网络中心度</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="temp : ${session.govCap}">
                    <!--                    <td scope="row" th:text="${enterPrise.getPerfProjectName()}"></td>-->
                    <!--                    <td th:text="${enterPrise.getPerfValue()}"></td>-->
                    <td scope="row" th:text="${temp.getEnddate()}"></td>
                    <td th:text="${temp.getIndustryName()}"></td>
                    <td th:text="${temp.getContrshrProportion()}"></td>
                    <td th:text="${temp.getInsInvestorProp()}"></td>
                    <td th:text="${temp.getSharesBalance()}"></td>
                    <td th:text="${temp.getISHoldBankShares()}"></td>
                    <td th:text="${temp.getBoardsize()}"></td>
                    <td th:text="${temp.getIndDirectorRatio()}"></td>
                    <td th:text="${temp.getSupervisorSize()}"></td>
                    <td th:text="${temp.getExecutivesNumber()}"></td>
                    <td th:text="${temp.getStaffNumber()}"></td>
                    <td th:text="${temp.getProfitPerCapita()}"></td>
                    <td th:text="${temp.getIndDirectorNetCentrality()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="intro" role="tabpanel">
        intro
    </div>
</div>
