<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>仓单宝 - 一站式智能化ESG评估平台</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/general.js"></script>
</head>
<body>
<div id="nav"></div>
<div id="banner">
    <div>
        <p>一站式智能化ESG评估平台</p>
        <p>企业评估 合理投资</p>
        <a href="login">
            <button class="btn">立即体验</button>
        </a>
    </div>
</div>
<section>
    <h1>我们的功能</h1>
    <h2>Our Function</h2>
    <img src="img/index/我们的功能.jpg" class="mx-auto">
</section>
<section>
    <h1>我们的优势</h1>
    <h2>Our Advantage</h2>
    <div class="row row-cols-md-2">
        <img src="img/index/优势-图片1_u130.png">
        <div class="col text">
            <h3>信息透明 面向大众</h3>
            <p>将企业的实时动态公开，生成公开动态的评估等级，实现企业信息透明化，面向大众，打破了传统的投资者对企业不了解的情况。</p>
        </div>
    </div>
    <div class="row row-cols-md-2">
        <div class="col text">
            <h3>数据可视 动态评估</h3>
            <p>基于ESG关键指标的评级框架，生成实时客观的ESG分数和评级，帮助投资者洞察公司的ESG风险和机遇。</p>
        </div>
        <img src="img/index/优势-图片2_u135.png">
    </div>
    <div class="row row-cols-md-2">
        <img src="img/index/优势-图片3_u142.png">
        <div class="col text">
            <h3>数据集成 整合分析</h3>
            <p>集成海量数据，提供全方位基于ESG评级的投资组合分析工具，帮助投资者管理组合的ESG风险。</p>
        </div>
    </div>
</section>
<section>
    <h1>金融投资场景应用</h1>
    <h2>Investment Scenario Application</h2>
    <div class="d-md-flex justify-content-between">
        <div class="appli">
            <img src="img/index/矩形1.jpg">
            <h3>企业信用评估</h3>
            <p>帮助投资者从E（环境）、S（社会）、G（治理）三个维度衡量企业的经营状况，从而进行科学投资。</p>
        </div>
        <div class="appli">
            <img src="img/index/矩形2.jpg">
            <h3>投资导向</h3>
            <p>通过投资前的ESG评估，投资者将更了解的目标公司的ESG风险，可以更好地规避风险，实现利益最大化。
            </p>
        </div>
        <div class="appli">
            <img src="img/index/矩形3.jpg">
            <h3>实时舆情</h3>
            <p>跟踪和ESG相关的新闻舆情，实时向投资者刻画企业的ESG表现。</p>
        </div>
    </div>
</section>
<div id="footer"></div>
</body>
</html>
