<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>个人信息</title>
        <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    </head>
      
    <body background="image/bg.png">

        <section class="g-4">
            <div class="container">
                <div>
                    <h1 th:text="${upload_name.getCorporation_Name()}">企业名称</h1>
                    <div class="d-flex">
<!--                        <img src="img/jdf.jpg"  alt="showcase"-->
<!--                        class="w-25 d-none d-sm-block" title="企业图标">-->
<!--                        <div class="p-5">-->
<!--&lt;!&ndash;                            <h4 th:text="${upload_name.getCorporation_Name()}">企业名称</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p>&ndash;&gt;-->
<!--&lt;!&ndash;                                ID:88888888&ndash;&gt;-->
<!--&lt;!&ndash;                            </p>&ndash;&gt;-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    环保专项行动次数
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getEnvironmentalActions_Number()}"></small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    环保项目投入费用
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getEnvironmentalInput_Costs()}+'万元'">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    环保投资
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getEnvironmental_Investment()+'万元'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    废水、废气等减排治理次数
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getEmissionReductions_Number()}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    环境报告/社会责任报告
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getEnvironmental_Reports()+'份'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    是否通过ISO9001认证
                                </h4>
                                <p class="card-text">
                                    <small >通过</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    工伤事故
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getWork_Accidents()+'次'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    重大安全事故
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getMajorSafety_Accidents()+'次'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    客户满意度
                                </h4>
                                <p class="card-text">
                                    <small  th:text="${upload_name.getCustomer_Satisfaction()+'%'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    安置社会就业人员
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getEmployedPeople_Placement()+'人'}"></small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    员工满意度
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getEmployee_Satisfaction()+'%'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    歧视相关的申诉事件
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getComplaint_Incidents()+'次'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    总资产净利润率
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getNetProfit_Margin()}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    资产负债率
                                </h4>
                                <p class="card-text">
                                    <small  th:text="${upload_name.getDebt_Ratio()}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    营业收入增长率
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getIncomeGrowth_Ratio()}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    财务杠杆
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getFinancial_Leverage()}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    经营杠杆
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getOperating_Leverage()}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    综合杠杆
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getConsolidated_Leverage()}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    控股股东持股比例
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getStockholderShareholding_Ratio()+'%'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    机构投资者持股比例
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getInvestorShareholding_Ratio()+'%'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    管理层持股比例
                                </h4>
                                <p class="card-text">
                                    <small th:text="${upload_name.getManagerShareholding_Ratio()+'%'}">未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
    
</html>