<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>个人信息</title>
        <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    </head>
      
    <body background="image/bg.png">

        <section class="g-4">
            <div class="container">
                <div>
                    <h1>企业名称</h1>
                    <div class="d-flex">
                        <img src="./image/company_logo.jpg" alt="showcase"
                        class="w-25 d-none d-sm-block" title="企业图标">
                        <div class="p-5">
                            <h4>企业名称</h4>
                            <p>
                                ID:88888888
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    环保专项行动次数
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    环保项目投入费用
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    环保投资
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    废水、废气等减排治理次数
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    环境报告/社会责任报告
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    是否通过ISO9001认证
                                </h4>
                                <p class="card-text">
                                    <small>未选择内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    工伤事故
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    重大安全事故
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    客户满意度
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    安置社会就业人员
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    员工满意度
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    歧视相关的申诉事件
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    总资产净利润率
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    资产负债率
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    营业收入增长率
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    财务杠杆
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    经营杠杆
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    综合杠杆
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    控股股东持股比例
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    机构投资者持股比例
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-light text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    管理层持股比例
                                </h4>
                                <p class="card-text">
                                    <small>未添加内容</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
    
</html>