<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/box.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/general.js"></script>
    <title>充值成功</title>
</head>
<body>
<div id="nav"></div>
<div id="successcard" class="success_card card text-center">
    <div id="success1" class="container">
        <img id="successimg" src="img/login/u93.png">
        <label id="successtext" class="h5">充值成功</label>
    </div>
    <div id="success2">
        <button id="successbtn" class="btn-primary rounded btn-lg">返回首页>></button>
    </div>
</div>
<div id="footer"></div>
</body>
</html>
