<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/general.js"></script>
    <title>信息上传</title>
    <style>
        .button-box {
            position: relative;
            padding: 0;
        }

        .upload-form {
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
            height: 38px;
            opacity: 0;
        }

        .filename {
            position: absolute;
            color: red;
        }
    </style>
</head>
<body>
<nav id="nav"></nav>
<section class="p-5">
    <div class="container">
        <h2 class="text-center">
            企业信息上传
        </h2>
    </div>
</section>

<section class="g-4">
    <form action="" method="post" class="container">
        <div class="row g-4">
            <div class="col-md">
                <div class="card bg-light text-dark" style="height: 475px;">
                    <div class="p-3">
                        <h5 class="text-center">
                            环境研究
                        </h5>
                    </div>
                    <div class="row p-5">
                        <div class="col-6">
                            <p class="text-center">
                                环境绩效
                            </p>
                        </div>
                        <div class="col-6 button-box">
                            <button class="btn btn-primary">点击上传</button>
                            <input type="file" name="env_performance" class="upload-form">
                            <p class="filename"></p>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-6">
                            <p class="text-center">
                                环境披露
                            </p>
                        </div>
                        <div class="col-6 button-box">
                            <button class="btn btn-primary">点击上传</button>
                            <input type="file" name="env_disclosure" class="upload-form">
                            <p class="filename"></p>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-6">
                            <p class="text-center">
                                环境投资
                            </p>
                        </div>
                        <div class="col-6 button-box">
                            <button class="btn btn-primary">点击上传</button>
                            <input type="file" name="env_investment" class="upload-form">
                            <p class="filename"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light text-dark" style="height: 475px;">
                    <div class="p-3">
                        <h5 class="text-center">
                            社会责任
                        </h5>
                    </div>
                    <div class="row p-5">
                        <div class="col-6">
                            <p class="text-justify">
                                生产安全/客户及消费者权益保护
                            </p>
                        </div>
                        <div class="col-6 button-box">
                            <button class="btn btn-primary">点击上传</button>
                            <input type="file" name="soc_safety" class="upload-form">
                            <p class="filename"></p>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-6">
                            <p class="text-justify">
                                公共关系和社会公益事业
                            </p>
                        </div>
                        <div class="col-6 button-box">
                            <button class="btn btn-primary">点击上传</button>
                            <input type="file" name="soc_public" class="upload-form">
                            <p class="filename"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light text-dark" style="height: 475px;">
                    <div class="p-3">
                        <h5 class="text-center">
                            公司治理
                        </h5>
                    </div>
                    <div class="row p-5">
                        <div class="col-6">
                            <p class="text-center">
                                风险水平
                            </p>
                        </div>
                        <div class="col-6 button-box">
                            <button class="btn btn-primary">点击上传</button>
                            <input type="file" name="gov_risk" class="upload-form">
                            <p class="filename"></p>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-6">
                            <p class="text-center">
                                管理层治理
                            </p>
                        </div>
                        <div class="col-6 button-box">
                            <button class="btn btn-primary">点击上传</button>
                            <input type="file" name="gov_admin" class="upload-form">
                            <p class="filename"></p>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-6">
                            <p class="text-center">
                                经营水平
                            </p>
                        </div>
                        <div class="col-6 button-box">
                            <button class="btn btn-primary">点击上传</button>
                            <input type="file" name="gov_manage" class="upload-form">
                            <p class="filename"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5 text-center">
            <button type="submit" class="btn btn-primary">
                提交
            </button>
        </div>
    </form>
</section>
<script>
    window.onload = () => {
        let forms = document.getElementsByClassName('upload-form');
        let filenames = document.getElementsByClassName('filename');
        for (let i = 0; i < forms.length; i++) {
            forms[i].oninput = (e) => {
                filenames[i].innerHTML = e.target.files[0].name;
            }
        }
    }
</script>
</body>
<footer id="footer"></footer>
</html>
