<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>仓储公司业务</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/transaction_pledge.css">
    <script src="javascript/jquery-3.5.1.js" type="text/javascript" language="JavaScript"></script>
    <script src="javascript/storage_company_transaction.js" type="text/javascript" language="JavaScript"></script>
</head>
<body class="background">
<nav class="navbar navbar-expand-lg navbar-ligh shadow">
    <a class="navbar-brand" href="#">
        <img src="resource/blackLogo.png" alt="logo">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item head-tag"><a class="nav-link " href="/business">业务大厅</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="javascript:void(0);">关于我们</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item head-tag">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="resource/u92.png" alt="app">
                    手机App
                </a>
            </li>
            <li class="nav-item head-tag">
                <a class="nav-link" href="/my_info">
                    个人中心
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container transaction-pledge-info">
    <div class="row category">
        <div class="offset-md-1 col-md-1 sector displaying" id="sector1">入库审批</div>
        <div class="offset-md-2 col-md-1 sector" id="sector2">出库审批</div>
        <div class="offset-md-2 col-md-1 sector" id="sector3">质押审批</div>
    </div>
    <div id="info1">
        <div class="row category-category text-center">
            <div class="offset-md-1 col-md-1">序号</div>
            <div class="col-md-2">货物种类</div>
            <div class="col-md-2">货物数量</div>
            <div class="col-md-2">当前状态</div>
            <div class="col-md">操作</div>
        </div>
        <hr style="width: 85%">
        <div class="row one-line text-center" th:each="wh_in : ${wh_in_list0}">
            <div class="offset-md-1 col-md-1"><p th:text="${wh_in.id}"></p></div>
            <div class="col-md-2"><p th:text="${wh_in.type}"></p></div>
            <div class="col-md-2"><p th:text="${wh_in.num}"></p></div>
            <div class="col-md-2 blue">待审批</div>
            <div class="col-md text-center"><a class="button btn btn-sm" th:href="'/requestApprove?id='+${wh_in.id}">审批申请</a></div>
        </div>
        <div class="row one-line text-center" th:each="wh_in : ${wh_in_list2}">
            <div class="offset-md-1 col-md-1"><p th:text="${wh_in.id}"></p></div>
            <div class="col-md-2"><p th:text="${wh_in.type}"></p></div>
            <div class="col-md-2"><p th:text="${wh_in.num}"></p></div>
            <div class="col-md-2 blue">待收货</div>
            <div class="col-md text-center"><a class="button btn btn-sm" th:href="'/confirmReceipt?id='+${wh_in.id}">确认收货</a></div>
        </div>
        <div class="row one-line text-center" th:each="wh_in : ${wh_in_list34}">
            <div class="offset-md-1 col-md-1"><p th:text="${wh_in.id}"></p></div>
            <div class="col-md-2"><p th:text="${wh_in.type}"></p></div>
            <div class="col-md-2"><p th:text="${wh_in.num}"></p></div>
            <div class="col-md-2 blue">已收货</div>
            <div class="col-md text-center"><a class="button btn btn-sm already-get" href="#">已收货</a></div>
        </div>
    </div>
    <div class="hide" id="info2">
        <div class="row category-category text-center">
            <div class="offset-md-1 col-md-1">单号</div>
            <div class="col-md-1">货物种类</div>
            <div class="col-md-1">货物数量</div>
            <div class="col-md-4">计划出库时间</div>
            <div class="col-md-1">当前状态</div>
            <div class="col-md">操作</div>
        </div>
        <hr style="width: 85%">
        <div class="row one-line text-center" th:each="wh : ${wh_out_list}">
            <div class="offset-md-1 col-md-1"><p th:text="${wh.id}"></p></div>
            <div class="col-md-1"><p th:text="${wh.type}"></p></div>
            <div class="col-md-1"><p th:text="${wh.num}"></p></div>
            <div class="col-md-4"><p th:text="${wh.getOutTime()}"></p></div>
            <div class="col-md-1 blue">出库中</div>
            <div class="col-md text-center"><a class="button btn btn-sm" th:href="'/confirmDelivery?id='+${wh.id}">确认出库</a></div>
        </div>
    </div>
    <div class="hide" id="info3">
        <div class="row category-category text-center">
            <div class="offset-md-1 col-md-1">序号</div>
            <div class="col-md-2">货物种类</div>
            <div class="col-md-2">货物数量</div>
            <div class="col-md-2">当前状态</div>
            <div class="col-md">操作</div>
        </div>
        <hr style="width: 85%">
        <div class="row one-line text-center" th:each="wh : ${wh_pledge_list}">
            <div class="offset-md-1 col-md-1"><p th:text="${wh.id}"></p></div>
            <div class="col-md-2"><p th:text="${wh.type}"></p></div>
            <div class="col-md-2"><p th:text="${wh.num}"></p></div>
            <div class="col-md-2 blue">待审批</div>
            <div class="col-md text-center"><a class="button btn btn-sm" th:href="'/pledgeApproval?id='+${wh.id}">审批申请</a></div>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <hr style="border-top: 3px solid rgb(204, 204, 204); width: 85%">
    <div class="row">
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">关于我们</a></p>
        </div>
        <div class="col-md-2 foot-tag">
            <p><a href="#">法律声明及隐私政策</a></p>
        </div>
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">加入我们</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <address>Address/地址：辽宁省大连经济技术开发区图强街321号</address>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>P.C./邮编：116600</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <p>Tel/联系电话：020-000000 000-000000</p>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>Mail/邮箱：contact@fkadjkhsf.com</p>
        </div>
    </div>

</footer>
</body>
</html>