<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>企业信息</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/transaction_sale.css">
</head>
<body class="background">
<nav class="navbar navbar-expand-lg navbar-ligh shadow">
    <a class="navbar-brand" href="#">
        <img src="resource/blackLogo.png" alt="logo">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item head-tag active"><a class="nav-link" href="/after_login">首页</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="/business">业务大厅</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="javascript:void(0);">关于我们</a></li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item head-tag">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="resource/u92.png" alt="app">
                    手机App
                </a>
            </li>
            <li class="nav-item head-tag">
                <a class="nav-link" href="/my_info">
                    个人中心
                </a>
            </li>
        </ul>

    </div>
</nav>
<div class="container transaction-sale-info">
    <div class="enterprise-info-title">
        <h3><strong>可销售仓单</strong></h3>
    </div>
    <div class="row one-line">
        <div class="col-md-2 text-center">仓单号</div>
        <div class="col-md-2 text-center">物品种类</div>
        <div class="col-md-2 text-center">物品数量</div>
        <div class="col-md-2 text-center">仓储公司</div>
    </div>
    <hr style="border-top: 2px solid #ccc; width: 90%">
    <div class="row one-line" th:each="sale : ${saleList}" >
        <div class="col-md-2 text-center" th:text="${sale.id}"></div>
        <div class="col-md-2 text-center" th:text="${sale.type}"></div>
        <div class="col-md-2 text-center" th:text="${sale.num}+'件'"></div>
        <div class="col-md-2 text-center" th:text="${sale.storage_company}"></div>
        <div class="col-md-3 text-center"><a class="button btn btn-sm" th:href="@{'/contract_sign?id='+${sale.id}}">销售</a></div>
    </div>
</div>
<footer class="container-fluid">
    <hr style="border-top: 3px solid rgb(204, 204, 204); width: 85%">
    <div class="row">
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">关于我们</a></p>
        </div>
        <div class="col-md-2 foot-tag">
            <p><a href="#">法律声明及隐私政策</a></p>
        </div>
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">加入我们</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <address>Address/地址：辽宁省大连经济技术开发区图强街321号</address>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>P.C./邮编：116600</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <p>Tel/联系电话：020-000000 000-000000</p>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>Mail/邮箱：contact@fkadjkhsf.com</p>
        </div>
    </div>

</footer>
</body>
</html>