<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>填写入库申请</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/entrance_apply.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-ligh shadow">
    <a class="navbar-brand" href="#">
        <img src="resource/blackLogo.png" alt="logo">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item head-tag active"><a class="nav-link" href="/after_login">首页</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="/business">业务大厅</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="javascript:void(0);">关于我们</a></li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item head-tag">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="resource/u92.png" alt="app">
                    手机App
                </a>
            </li>
            <li class="nav-item head-tag">
                <a class="nav-link" href="/my_info">
                    个人中心
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--
主体部分
-->
<div class="background">
    <div class = "col-md-8 div1 offset-2">
        <div class="col-md-4 ">
            <h3><strong>入库申请</strong></h3>
        </div>
        <form th:action="application_submit">
            <div>
                <label class="form-inline input-label">货物种类
                    <input type="text" class="form-control input-regulation" name="type" size="50" placeholder="请输入入库货物种类">
                </label>
            </div>
            <div>
                <label class="form-inline input-label">货物数量
                    <input type="text" class="form-control input-regulation" name="num" size="50" placeholder="请输入货物数量">
                </label>
            </div>
            <div>
                <label class="form-inline input-label">货物现存地址
                    <input type="text" class="form-control input-regulation1" name="address" size="50" placeholder="请输入当前货物存放地址">
                </label>
            </div>
            <div>
                <div class="dropdown show drop-toggle">
                    <label class="form-inline input-label">选择仓储公司
                        <select class="form-control  input-regulation1" name="storage_company">
                            <option value="仓储公司A" >仓储公司A</option>
                            <option value="仓储公司B">仓储公司B</option>
                            <option value="仓储公司C">仓储公司C</option>
                            <option value="仓储公司D">仓储公司D</option>
                        </select>
                    </label>
                </div>
            </div>

            <div>
                <div class="dropdown show drop-toggle">
                    <label class="form-inline input-label">选择存储期限
                        <select class="form-control  input-regulation1" name="time_limit">
                            <option value="1" >1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            </select>&nbsp;&nbsp;&nbsp;年
                    </label>
                </div>
            </div>
            <button type="submit" class="main_button">
                提交
            </button>
        </form>

    </div>
</div>



<footer class="container-fluid">
    <div class="row">
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">关于我们</a></p>
        </div>
        <div class="col-md-2 foot-tag">
            <p><a href="#">法律声明及隐私政策</a></p>
        </div>
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">加入我们</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <address>Address/地址：辽宁省大连经济技术开发区图强街321号</address>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>P.C./邮编：116600</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <p>Tel/联系电话：020-000000 000-000000</p>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>Mail/邮箱：contact@fkadjkhsf.com</p>
        </div>
    </div>

</footer>
</body>
</html>
