<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>发票提交</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/通用.css">

</head>

<body>

    <div class="background">
        <img src="resource/u143.png">
    </div>

    <div class="logo">
        <img src="resource/logo.jpg" style="width: 100px;">
    </div>

    <div class="succeed">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3" style="box-shadow: 
        inset 1px -1px 1px #444, inset -1px 1px 1px #444;border-radius: 10px; background-color:white">
                    <div class="div1">
                        <img src="resource/u146.png" class="yes">
                        <span style="font-size: 25px;margin-left: 20px;">发票已提交</span>
                    </div>
                    <div class="div2">
                        <div>
                            <a href="/myTransaction">
                                <label class="btn label-file btn-lg" style="margin-top: 100px;margin-left: 150px;">
                                    <p style="text-align: center;">
                                        查看我的业务状态&gt;&gt;
                                    </p>
                                    <!-- <input type="button" name="license" class="input-file"> -->
                                </label>
                            </a>
                        </div>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>