<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓储公司信息验证</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/certi_new.css">

    <style>
        .button{
            color: #ffffff;
            padding: 10px 50px;
            background: rgb(81, 81, 229);
        }

        .button:hover{
            background: rgb(0, 0, 51);
            color: #ffffff;
        }
        .one-line{
            padding: 15px;
            font-size: 16px;
        }
        .submit-region{
            padding: 10px 0 40px;
        }
    </style>

    <script>
        window.onload = function () {

        };
    </script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-ligh shadow">
    <a class="navbar-brand" href="#">
        <img src="resource/blackLogo.png" alt="logo">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item head-tag active"><a class="nav-link" href="/after_login">首页</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="/business">业务大厅</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="javascript:void(0);">关于我们</a></li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item head-tag">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="resource/u92.png" alt="app">
                    手机App
                </a>
            </li>
            <li class="nav-item head-tag">
                <a class="nav-link" href="/my_info">
                    个人中心
                </a>
            </li>
        </ul>

    </div>
</nav>
<div class="main">
    <div id="whitebox" class="container">
        <div class="row" id="box-head">
            <div class="offset-md-1">
                <label id="box-title">
                    <b>审批入库申请</b>
                </label>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-3 one-line"><strong>单号</strong></div>
                <div class="col-md-7 one-line">xxx04</div>
                <div class="offset-md-2 col-md-3 one-line"><strong>货物种类</strong></div>
                <div class="col-md-7 one-line">钢铁</div>
                <div class="offset-md-2 col-md-3 one-line"><strong>货物数量</strong></div>
                <div class="col-md-7 one-line">100吨</div>
                <div class="offset-md-2 col-md-3 one-line"><strong>申请方</strong></div>
                <div class="col-md-7 one-line">xxx公司</div>
                <div class="offset-md-2 col-md-3 one-line"><strong>预计存货时间</strong></div>
                <div class="col-md-7 one-line">1年</div>
                <!--下载合同的文件链接-->
                <a href="" class="offset-md-2 one-line"
                   style="font-size: x-large; font-weight: bold; color: rgb(81, 81, 229);">下载合同</a>
            </div>
        </div>
        <form action="" method="get">
            <div class="row submit-region">
                <div class="offset-2 col-md-2">
                    <input class="btn btn-lg button" type="submit" value="同意申请" name="">
                </div>
                <div class="offset-3 col-md-2">
                    <input class="btn btn-lg button" type="submit" value="同意申请" name="">
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">关于我们</a></p>
        </div>
        <div class="col-md-2 foot-tag">
            <p><a href="#">法律声明及隐私政策</a></p>
        </div>
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">加入我们</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <address>Address/地址：辽宁省大连经济技术开发区图强街321号</address>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>P.C./邮编：116600</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <p>Tel/联系电话：020-000000 000-000000</p>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>Mail/邮箱：contact@fkadjkhsf.com</p>
        </div>
    </div>

</footer>
</body>
</html>