<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>是否信用担保</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/header.css" rel="stylesheet" type="text/css">
    <link href="css/footer.css" rel="stylesheet" type="text/css">
    <link href="css/delcredere.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="background">
    <div class="logo">
        <img src="resource/logo.jpg" class="logo-left-top">
    </div>
    <div class="container">
        <div class="credit_guarantee_dialog">
            <div class="container hint_combination">
                <img src="resource/u146.png" alt="success" class="yes">
                <p class="hint">您的仓单信息已确认，是否需要信用担保？</P>
            </div>
            <div class="row">
                <div class="offset-2 col-md-2">
                    <a type="button" class="btn btn-lg button btn-primary" th:href="'/guaranteeOrNot?id=' + ${id}">否</a>
                </div>
                <div class="offset-3 col-md-2">
                    <a type="button" class="btn btn-lg button btn-primary" th:href="'/guaranteeOrNot?id=' + ${id}">是</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>