<!DOCTYPE html>
<html lang="en">

<head>
    <title>注册成功</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="css/registerSuccess.css">
</head>

<body>

    <div class="background">
        <img src="./resource/u143.png">
    </div>

    <div class="logo">
        <img src="./resource/logo.jpg" style="width: 100px;">
    </div>




    <div class="succeed">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3" style="background-color:white;box-shadow: 
        inset 1px -1px 1px #444, inset -1px 1px 1px #444;border-radius: 10px;">
                    <div class="div1">
                             <img src="./resource/u146.png" class="yes">
                        <span style="font-size: 25px;margin-left: 20px;">认证成功</span>
                    </div>
                    <div class="div2">
                        <p style="text-align: center;">
                            <a type="button" class="btn btn-primary btn-lg" href="/business"
                                style="margin-top: 100px;"><span>前往业务大厅体验更多服务&gt;&gt;</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>